@import url("desktop.css") (min-width: 1024px);
@import url("mobile.css") (max-width: 1024px);

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'ONE-Mobile-POP';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    overflow-y: auto;
    background-color: rgb(240, 203, 155);
}
